/* Input Selectors */

input {
  background: #eaeaea;
  width: 93%;
  max-width: 93%;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

input[type=number] {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: red;
}


/* Select Menu Selectors */
select {
  background: #eaeaea;
  width: 99%;
  max-width: 99%;
  height: 50px;
  border-radius: 5px;
  border: none;
}

option selected {
	color: #cccccc;
}


/* Italicize Placeholder Text */
::-webkit-input-placeholder {
   font-style: italic;
   padding-right: 3px;
}
:-moz-placeholder {
   font-style: italic; 
   padding-right: 3px; 
}
::-moz-placeholder {
   font-style: italic; 
   padding-right: 3px; 
}
:-ms-input-placeholder {  
   font-style: italic; 
   padding-right: 3px;
}


/* Header Selectors */

header h1 {
	background: #32475f;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 75px;
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
}


/* Body Selectors */
body {
	margin: none;
}

/* H1 Selectors */

h1 {
	width: 100%;
	height: 75px;
	text-align: center;
	background-color: #32475f;
	color: white;
}


/* H2 Selectors */

h2 {
	text-align: center;
	color: #1c2f54;
	font-size: 1.25em;
	font-family: 'Noto Serif', serif;
}


/* Line Break Selectors */

hr {
	border-style: double;
	padding-top: none;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

hr[class=thick] {
	border: 3px solid #32475f;
	padding-bottom: none;
	border-collapse: collapse;
	margin-bottom: 0;
}


/* Paragraph Selectors */

p {
	text-align: center;
}

p[class=header-p] {
	color: #b7b7b7;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Domine', serif;
}


/* Label Selectors */

label {
	font-family: 'Noto Serif', serif;
	color: #878787;
}


/* Legend Selectors */

legend {
	border: none;
	font-size: 1.5em;
	color: #1c2f54;
	font-weight: bold;
	font-family: 'Open Sans', serif;
	
}

legend[class=contact-information] {
	color: #243a64;
	font-family: 'Domine', serif;
	font-size: 1.5em;
}



/* Fieldset Selectors */

fieldset {
	border: none;
}

fieldset select {
	color: #9b9b9b;
}









