/* Input Selectors */

input {
  background: #eaeaea;
  width: 95%;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: right;
  margin: 8px 0;
}

input:focus{
	text-align: right;
	border: solid 2px darkblue;
	padding: 10px;
	margin: 8px 0;
}

input[id=zip] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


textarea {
	background: #eaeaea;
	width: 95%;
	height: 150px;
	border-radius: 5px;
	border: none;
	padding: 15px;
	text-align: right;
	margin: 8px 0;
}



/* Select Menu Selectors */
select {
  background: #eaeaea;
  width: 99%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: 8px 0;
}

option selected {
	color: #cccccc;
	padding-left: 50px;
}


/* Italicize Placeholder Text */
::-webkit-input-placeholder {
   font-style: italic;
   padding-right: 3px;
   font-weight: 75;
   font-family: 'Merriweather', serif;
   font-size: .85em;
}
:-moz-placeholder {
   font-style: italic; 
   padding-right: 3px;
   font-weight: 75; 
   font-family: 'Merriweather', serif;
   font-size: .85em;
}
::-moz-placeholder {
   font-style: italic; 
   padding-right: 3px;
   font-weight: 75;
   font-family: 'Merriweather', serif;
   font-size: .85em;
}
:-ms-input-placeholder {  
   font-style: italic; 
   padding-right: 3px;
   font-weight: 75;
   font-family: 'Merriweather', serif;
   font-size: .85em;
}


/* Header Selectors */

header h1 {
	background: #32475f;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 75px;
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
}


/* Body Selectors */
body {
	margin: none;
}

/* H1 Selectors */

h1 {
	width: 100%;
	height: 75px;
	text-align: center;
	background-color: #32475f;
	color: white;
}


/* H2 Selectors */

h2 {
	text-align: center;
	color: #1c2f54;
	font-size: 1.25em;
	font-family: 'Merriweather', serif;
}


/* Button Selectors */

button {
	width: 90%;
	background: #35b9b3;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 25px 0;
	font-size: 18px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}


/* Line Break Selectors */

hr {
	border-style: double;
	padding-top: none;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

hr[class=thick] {
	border: 3px solid #32475f;
	padding-bottom: none;
	border-collapse: collapse;
	margin-bottom: 0;
}


/* Paragraph Selectors */

p {
	text-align: center;
}

p[class=header-p] {
	color: #b7b7b7;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Merriweather', serif;
}


/* Label Selectors */

label {
	font-family: 'Merriweather', serif;
	color: #878787;
}


/* Legend Selectors */

legend {
	border: none;
	font-size: 1.5em;
	color: #1c2f54;
	font-weight: bold;
	font-family: 'Merriweather', serif;
	
}

legend[class=contact-information] {
	color: #243a64;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}



/* Fieldset Selectors */

fieldset {
	border: none;
}

fieldset select {
	color: #9b9b9b;
}









